www/RFID/Hand Held Applications/KPCL-Internal-WAP3-GPRS-Latest/WAP3/Web References/RFIDWEB/RFIDService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://kpcl.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://kpcl.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://kpcl.org/">
      <s:element name="ReadDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tagno" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readerid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="readtime" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReadDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ReadDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReadDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:ReadDetails" />
  </wsdl:message>
  <wsdl:message name="ReadDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:ReadDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="ReadDetailsHttpGetIn">
    <wsdl:part name="tagno" type="s:string" />
    <wsdl:part name="readerid" type="s:string" />
    <wsdl:part name="readtime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadDetailsHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="ReadDetailsHttpPostIn">
    <wsdl:part name="tagno" type="s:string" />
    <wsdl:part name="readerid" type="s:string" />
    <wsdl:part name="readtime" type="s:string" />
  </wsdl:message>
  <wsdl:message name="ReadDetailsHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="ReadDetails">
      <wsdl:input message="tns:ReadDetailsSoapIn" />
      <wsdl:output message="tns:ReadDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpGet">
    <wsdl:operation name="ReadDetails">
      <wsdl:input message="tns:ReadDetailsHttpGetIn" />
      <wsdl:output message="tns:ReadDetailsHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="Service1HttpPost">
    <wsdl:operation name="ReadDetails">
      <wsdl:input message="tns:ReadDetailsHttpPostIn" />
      <wsdl:output message="tns:ReadDetailsHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadDetails">
      <soap:operation soapAction="http://kpcl.org/ReadDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReadDetails">
      <soap12:operation soapAction="http://kpcl.org/ReadDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpGet" type="tns:Service1HttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="ReadDetails">
      <http:operation location="/ReadDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1HttpPost" type="tns:Service1HttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="ReadDetails">
      <http:operation location="/ReadDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://182.72.244.27/RFIDWeb/RFIDService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://182.72.244.27/RFIDWeb/RFIDService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpGet" binding="tns:Service1HttpGet">
      <http:address location="http://182.72.244.27/RFIDWeb/RFIDService.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1HttpPost" binding="tns:Service1HttpPost">
      <http:address location="http://182.72.244.27/RFIDWeb/RFIDService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>